p.parrafo1{
    background-color: orange;
    /*padding:20px*/
    padding-top: 20px;
    padding-bottom: 25px;
    padding-right: 30px;
    padding-left: justify;
}
p.parrafo2{
    background-color: azure;
    text-align: justify;
    /*padding:top right botton left*/
    padding: 20px 10px 15px 50px;
}