#d1{
    border-top:2px dashed red;
    border-bottom: 5px solid purple;
    border-right: 3px dotted yellowgreen;
    border-left: 4px solid blue;
    margin: 20px;;
}

#d2{
    color: green;
   border-style: dashed;
   border-color: greenyellow;
   border-width: 5px;
   margin: 20px;
}
#d3{
    color:blue;
    border: 4px solid palevioletred;
    margin: 20px;
}